@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Color-variable */
:root {
    --primary-color-lgt: #0582ca;
    --primary-color-mdm: #006494;
    --primary-color-drk: #003554;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --gray-color-lgt: #dee2e6;
    --gray-color-mdm: #ced4da;
    --gray-color-drk: #adb5bd;
}

/* Common-style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

/* Button-style */
.button-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.button {
    all: unset;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--light-color);
    background: var(--primary-color-lgt);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover {
    background: var(--primary-color-drk);
}
.button.secondary {
    color: var(--dark-color);
    background: var(--gray-color-mdm);
}

/* Header-style */
.header {
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 30px var(--gray-color-lgt);
}
.header .logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color-drk);
}
.header .main-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .main-menu li a {
    color: var(--dark-color);
    transition: 0.5s;
}
.header .main-menu li a:hover {
    color: var(--primary-color-drk);
}

/* Container-style */
.container {
    padding: 30px 10%;
}
.container .container-title {
    margin-bottom: 20px;
    text-align: center;
}

/* Course-style */
.courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.courses .course {
    padding: 10px;
    background: var(--gray-color-lgt);
    border-radius: 20px;
}
.courses .course .thumbnail-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}
.courses .course .thumbnail-wrapper .thumbnail {
    aspect-ratio: 4/3;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.courses .course .course-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.courses .course .course-info .title {
    width: 100%;
}

/* Course-detail-style */
.course-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.course-detail .thumbnail-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}
.course-detail .thumbnail-wrapper .thumbnail {
    aspect-ratio: 4/3;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.course-detail .course-detail-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.modules {
    padding: 20px 0;
}

/* Category-style */
.categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.categories .category {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-color);
    background: var(--gray-color-lgt);
    border-radius: 10px;
}

/* Login-style */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .login-form {
    width: 300px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
form .form-group {
    width: 100%;
}
label {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    color: var(--dark-color);
}
input {
    padding: 10px;
    width: 100%;
    border: 1px solid var(--gray-color-drk);
    border-radius: 5px;
    outline: none;
}
